@import "tailwindcss";

@theme {
  /* Charte graphique N'ma SIM Strict */
  --color-primary: #1F0270;
  --color-accent: #FFBA08;
  --color-bg-light: #F4F5F9;
  --color-text-main: #1F0270;
  --color-text-muted: #6B7280;
  --color-success: #16A34A;
  --color-error: #EF4444;
  --color-warning: #F59E0B;
  --color-border-light: #E5E7EB;
  
  --radius-xl: 1rem;
  --radius-2xl: 1.5rem;
}

@layer base {
  body {
    background-color: var(--color-bg-light);
    color: var(--color-text-main);
  }
}
